.layout {
  background-color: rgba(213, 223, 224, 0.553);
}

//navbar
.nav {
  color: aquamarine;

  span {
    font-size: medium;
    color: rgb(7, 162, 164);
    font-style: initial;
    font-weight: bold;
  }
}

//register & login
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  .reg-content {
    height: max-content;
    width: 800px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 40px 40px 10px 40px;
    box-shadow: 1px 1px 20px rgb(150, 150, 150) inset;

    .reg-img {
      width: 100%;
      height: 510px;

      img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
      }
    }
  }

  //login
  .login-content {
    height: max-content;
    width: 800px;
    margin-top: 40px;
    margin-bottom: 1.5%;
    border-radius: 8px;
    padding: 40px 40px 10px 40px;
    box-shadow: 1px 1px 20px rgb(150, 150, 150) inset;
    .login-img {
      width: 100%;
      height: 510px;

      img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
//children register and login
.children {
  min-height: 80%;
}

// dashboardLayout
.dashboard-layout {
  //header(navbar)
  .message {
    color: darkorchid;
    margin-right: 4px;
  }
  .message:hover {
    background-color: purple;
    color: white;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .btn-logout {
    color: black;
    font-weight: 700;
  }
  .btn-logout:hover {
    cursor: pointer;
    padding: 4px 8px;
    background-color: purple;
    color: white;
    border-radius: 4px;
  }

  //sidebar and main
  display: flex;
  max-width: 100vw;

  //sidebar
  .sidebar {
    flex: 0.5;
    background: #000;
    color: white;
    font-weight: 500;

    .top {
      height: 100px;
      display: flex;
      align-items: center;
      padding: 2rem;
      margin: 1rem auto;

      img {
        width: 50%;
        border-radius: 50%;
      }
    }

    .bottom {
      padding-left: 15px;

      ul {
        list-style: none;
        padding: 0 !important;

        .title {
          font-style: 0.8rem;
          font-weight: 700;
          color: rgb(207, 204, 115);
          margin: 1rem 0 0.5rem 0;
        }

        .link {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0.5rem 0.2rem;
          font-size: 0.8rem;
          color: inherit;
          text-decoration: none;
        }

        .link:hover {
          background-color: #fff;
          color: black;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .sidebar {
      width: 5%;

      .top {
        padding: 1rem;

        img {
          width: 100%;
        }
      }

      .bottom {
        padding: 0;

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;

          .link {
            padding: 0.8rem;
            color: cyan;

            span {
              display: none;
            }
          }
        }
      }
    }
  }

  .dashboard-main {
    flex: 3;
    background: rgb(207, 204, 115);
    display: flex;
    flex-direction: column;
  }
}

.footer {
  height: 100px;
  text-align: center;
  // background: rgba(230, 239, 240, 0.292);
  color: black;
  font-weight: bold;
  padding-top: 50px;
}

// AddBook
.add {
  .add-top {
    padding: 1rem 2rem;
    margin: 10px;
    box-shadow: 2px 4px 10px 1px grey;
    border-radius: 4px;

    display: flex;
    justify-content: flex-end;
    color: grey;
  }

  .add-bottom {
    background-color: rgb(205, 204, 145);
    padding: 3rem;
    margin-top: 30px;
    box-shadow: 2px 4px 10px 1px grey;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 8px;

    .book-img {
      height: 450px;
      width: 450px;
      border-radius: 4px;
      box-shadow: 2px 4px 10px 1px grey;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
        width: 100%;
        // box-shadow: 2px 4px 10px 1px grey;
      }
    }
  }

  //media query

  @media only screen and (max-width: 1400px) {
    .add-bottom {
      padding: 3rem 1rem 1rem 1rem;
      flex-wrap: wrap;
      gap: 1rem;

      .book-img {
        height: 70%;
        width: 90%;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: 1240px) {
    .add-bottom {
      padding: 3rem 1rem 1rem 1rem;
      flex-wrap: wrap;

      .book-img {
        height: 80%;
        width: 90%;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: 998px) {
    .add-bottom {
      padding: 3rem 1rem 1rem 1rem;
      flex-wrap: wrap;

      .book-img {
        height: 100%;
        width: 90%;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
